.parent {
  height:auto;
  width: auto;
  margin: 50px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.child {
  width: 400px;
  height: 700px;
  border-radius: 20px;
}
.child img {
  width: 400px;
    border-radius: 20px;

  height: 700px;}